*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

**/.coverage
/.coverage.*
/.cache
**/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
/dist

# Unit test / coverage reports
htmlcov/
coverage.xml
